# links follow
Options +FollowSymlinks
# rewrite Apache activate
RewriteEngine On

# /clients
RewriteRule ^clients$ /controllers/users-controller.php [L]

# /clients
RewriteRule ^spectacles$ /controllers/shows-controller.php [L]