# links follow
Options +FollowSymlinks
# rewrite Apache activate
RewriteEngine On

# /clients
RewriteRule ^clients$ /controllers/users-controller.php [L]

# /spectacles
RewriteRule ^spectacles$ /controllers/shows-controller.php [L]

# /premiers-clients
RewriteRule ^premiers-clients$ /controllers/firstUsers-controller.php [L]

# /fidélité
RewriteRule ^fidélité$ /controllers/loyalty-controller.php [L]