# links follow
Options +FollowSymlinks
# rewrite Apache activate
RewriteEngine On

# /clients
RewriteRule ^clients$ /controllers/users-controller.php [L]

# /spectacles
RewriteRule ^spectacles$ /controllers/shows-controller.php [L]

# /premiers-clients
RewriteRule ^premiers-clients$ /controllers/firstUsers-controller.php [L]

# /fidélités
RewriteRule ^fidélités$ /controllers/loyalty-controller.php [L]

# /noms
RewriteRule ^noms$ /controllers/names-controller.php [L]

# /titres-spectacles
RewriteRule ^titres-spectacles$ /controllers/showsTitles-controller.php [L]

# /informations-clients
RewriteRule ^informations-clients$ /controllers/usersInfo-controller.php [L]