html {
    scroll-behavior: smooth;
}

a {
    color: #cacaca;
    text-decoration: underline;
}
a:link {
    text-decoration: none;
}
a:hover {
    color: #fac24a;
}

.h1, h1 {
    color: #fac24a;
}

.link {
    color: #cacaca;
}
.nav-link:focus, .nav-link:hover {
    color: #fac24a;
}

.card {
    background-color: rgb(23 19 47);
    border: 1px solid rgb(250 194 74);
    color: #cacaca;
    border-radius: 0.5rem;
    margin: 0.2em;
}

.bg-main{
    background-color: #6f839d;
}
.main{
    color: #1c1c1c;
    font-size: 1.1em;
}

.bg-nav{
    background-color: rgb(23 19 47);
    color: #cacaca;
    border-bottom: 1px solid #fac24a;
}
.bg-footer{
    background-color: rgb(23 19 47);
    color: #cacaca;
    border-top: 1px solid #fac24a;
}

.bird{
    height: 3em;
}

.mb-5 {
    margin-bottom: 4rem!important;
}

.btn {
    border: 1px solid #fac24a;
}
.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(255 181 46 / 26%);
}
.btn:hover {
    background-color: #17132f;
    border: 1px solid #6f839d;
}

.text-muted {
    color: #fac24a!important;
}